header {
	grid-area: header;
}
header label{

}
div {
	grid-area: div;
}
body {
	background-image: linear-gradient(#DF9768, #4C9843);
	margin: 1;
}
main {
	display: inline-block;
	text-align: center;
	margin: 1;
}
aside {
	grid-area: aside;
}
footer {
	font-size: .7em;
	font-style: italic;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	margin-top: auto;
}
input {
	background-color: #C8A182;
	border-radius: 5px 5px;
	border-style: double;
	border-width: 1px;
	border-color: #9E766C;
}
button {
	background-color: #59c977;
	border: 1px;
	border-style: double;
	border-radius: 5px 5px;
}
a {
	text-decoration: none;
}
table {
	grid-area: main;
}
.but1 {
	grid-area: button1;
	text-align: center;
}
.but2 {
	grid-area: button2;
	text-align: center;
}
.but3 {
	grid-area: button3;
	text-align: center;
}
.partb {
	grid-area: main;
	text-align: left-top;
}
#concernBox {
	height:100px;
	font-size:11pt;
	word-break: break-all;
}
#pagesel {
	border-style: solid;
	background-color: #59c977;
	border-radius: 5px 5px;
	border-width: thin;
	font-size: 11pt;
	font-weight: lighter;
	color: black;
	padding: .1em;
}